.kuy{
    width: 100%;
    
    object-position: 20% ;
}
/* body{
    background-image: url(../image/background.png);
  } */

body{
    background-image:url(../image/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
h1 {
    text-align: center;
    padding-top: 10%;
    flex-shrink: 0;
    flex-shrink: 0;
    color: #38A6B5;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
h2 {
    padding-top: 1%;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
h3 {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3%;
}
#Username {
    margin-top: 1%;
    margin-left: 41.9%;
    padding: 7px;
    border-radius: 4px;
    background: #E3E3E3;
}
#Password {
    margin-top: 1%;
    margin-left: 41.9%;
    padding: 7px;
    border-radius: 4px;
    background: #E3E3E3;
}
#ConfirmedPassword {
    margin-top: 1%;
    margin-left: 41.9%;
    padding: 7px;
    border-radius: 4px;
    background: #E3E3E3;
}
#PhoneNumber {
    margin-top: 1%;
    margin-left: 41.9%;
    padding: 7px;
    border-radius: 4px;
    background: #E3E3E3;
}
#Con{
    border-radius: 4px;
    background: #C3EEF4;
    
}
  
        
  
